/* CSS for XML Content Display */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #xmlData {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #xmlData h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #xmlData p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
/* CSS for JSON Content Display */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  #jsonData {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #jsonData h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #jsonData p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
  }
    